@{
    ViewBag.Title = "Contact Mark";
}
<h2>@ViewBag.Title.</h2>


<div class="panel-default col-lg-5">
    <div class="panel-heading">
        <h2>Contact Mark</h2>
    </div>
    <div class="panel-body">
        <strong>Phone:</strong> (626) 931-9251<br />
        <strong>Email:</strong><a href="mailto:markar1217@gmail.com"> markar1217@gmail.com</a><br />
        <strong>Instagram:</strong><a href="http://www.instagram.com/drakecryin"> DrakeCryin</a><br />
    </div>
    <div class="panel-footer">Send Mark a message
        <button class="btn btn-danger">Here</button>
    </div> 
</div>

