@{
    ViewBag.Title = "Contact Mark";
}
<h2>@ViewBag.Title.</h2>


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<div class="panel panel-default col-lg-5">
    <div class="panel-heading">
        <h2>Contact Mark</h2>
    </div>
    <div class="panel-body">
        <strong>Phone:</strong>(626) 931-9251<br />
        <strong>Email:</strong><a href="mailto:markar1217@gmail.com">markar1217@gmail.com</a><br />
        <strong>Instagram:</strong><a href="http://www.instagram.com/drakecryin">DrakeCryin</a><br />
    </div>
    <div class="panel-footer">Panel Footer</div>
</div>